<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Cirrus Activation Steps</h1>
    <p>
      Here you will follow the steps to change user actual
      Fritzbox configuration to enable the Cirrus Power!!
    </p>
    <p>
    </p>
  </body>
</html>
