<!DOCTYPE html>

<html>
  <head>
    <link rel=stylesheet href=//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css>
  </head>
  <body>
<p>
  <form class=form-centered action="/" method="POST">
    <h2>Cirrus Home Cloud</h2>
    <div class=input-group>
      <span class=input-group-addon>
        <span class="glyphicon glyphicon-phone" aria-hidden=true></span>
      </span>
      <input type=tel class=form-control placeholder="Phone number" name=user value=621356681>
    </div>
    <button class="btn btn-primary btn-block">Send an OTP</button>
  </form>
</p>
  </body>
</html>
