<!DOCTYPE html>
<html>
  <head>
    <head>
      <link rel=stylesheet href=//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css>
    </head>
    <body>
    <form class=form-centered action="/verify" method="POST">
      <h2>Cirrus Home Cloud</h2>
      <p class=text-info>Please confirm your identity with your OTP.</p>
      <div class=input-group>
        <span class=input-group-addon>
          <span class="glyphicon glyphicon-lock" aria-hidden=true></span>
        </span>
        <input type=hidden name=uid class=form-control value=<%= uid %>>
        <input type=otp class=form-control placeholder="Please entre the number send via SMS" name=token>
      </div>
      <button class="btn btn-primary btn-block">Please enter your OTP</button>
    </form>
  </body>
</html>
